<!-- 
Version {{build_version}}
Built {{build_time}} 
-->

<h1 align="center">
  <a href="{{imageLink}}" title="Click to View Source">
    <picture width="100%" alt="{{imageAlt}}">
      <source media="(prefers-color-scheme: dark)" srcset="{{imageDark}}?version={{build_version}}">
      <img src="{{image}}?version={{build_version}}" alt="{{imageAlt}}">
    </picture>
  </a>
</h1>

<div align="center">
  <picture width="100%" alt="{{statsImageAlt}}">
    <source media="(prefers-color-scheme: dark)" srcset="{{statsImageDark}}?version={{build_version}}">
    <img src="{{statsImage}}?version={{build_version}}" alt="{{statsImageAlt}}">
  </picture>
</div>
