<!-- 
Version {{build_version}}
Built {{build_time}} 
-->

<a href="{{imageLink}}" title="Click to View Source">
  <div align="center">
    <picture>
      <source srcset="{{image}}">
      <img src="{{image}}" alt="{{imageAlt}}" width="100%">
    </picture>
  </div>
</a>
