<!-- Version {{build_version}} -->
<!-- Built {{build_time}} -->
<div align="center">
  <a href="./src/templates/{{imageTemplate}}" title="Click to View Source">
    <img src="{{image}}" alt="{{imageAlt}}" width="100%">
  </a>
  <br />
</div>

<div align="center">

  [![website
  badge](https://img.shields.io/badge/dylanlangston.com-073642?style=social&logo=html5)](https://dylanlangston.com)
  [![linkedin
  badge](https://img.shields.io/badge/LinkedIn-073642?style=social&logo=linkedin)](https://www.linkedin.com/in/dylan-langston/)
  [![gist
  badge](https://img.shields.io/badge/Gist-073642?style=social&logo=github)](https://gist.github.com/dylanlangston)
  <br />
  ![Visits Badge](https://badges.pufler.dev/visits/dylanlangston/dylanlangston)
  ![Repos Badge](https://badges.pufler.dev/repos/dylanlangston)
  ![Years Badge](https://badges.pufler.dev/years/dylanlangston)
</div>
