<!-- 
Version {{build_version}}
Built {{build_time}} 
-->

<a href="{{imageLink}}" title="Click to View Source">
  <div align="center">
    <picture width="100%" alt="{{imageAlt}}">
      <source srcset="{{image}}">
      <img src="{{image}}" alt="{{imageAlt}}">
    </picture>
  </div>
</a>

<br/>

<div align="center">
  <picture width="100%" alt="{{statsImageAlt}}">
    <source srcset="{{statsImage}}">
    <img src="{{statsImage}}" alt="{{statsImageAlt}}">
  </picture>
</div>
