<!-- Version {{version}} -->
<!-- Built {{time}} -->
<div align="right">
  <details>
    <summary>
      <div align="center">
        <a href="./{{image}}?short_path=0" title="Click to View Source">
          <object>
            <img src="{{image}}" alt="{{imageAlt}}">
          </object>
        </a>
        <br />
      </div>
    </summary>
    <a href="https://github.dev/dylanlangston/dylanlangston"><img
        src="https://img.shields.io/static/v1?style=for-the-badge&label=&message=View+on+GitHub.dev&color=lightgrey&logo=github"
        alt="Edit on GitHub.dev"></a>
    <a href="https://vscode.dev/github/dylanlangston/dylanlangston"><img
        src="https://img.shields.io/static/v1?style=for-the-badge&label=&message=View+on+VSCode.dev&color=blue&logo=visualstudiocode"
        alt="Open in vscode.dev"></a>
  </details>
</div>

<div align="center">

  [![website badge](https://img.shields.io/badge/dylanlangston.com-073642?style=social&logo=html5)](https://dylanlangston.com)
  [![linkedin badge](https://img.shields.io/badge/LinkedIn-073642?style=social&logo=linkedin)](https://www.linkedin.com/in/dylan-langston/)
  [![gist badge](https://img.shields.io/badge/Gist-073642?style=social&logo=github)](https://gist.github.com/dylanlangston)
  <br />
  ![Visits Badge](https://badges.pufler.dev/visits/dylanlangston/dylanlangston)
  ![Repos Badge](https://badges.pufler.dev/repos/dylanlangston)
  ![Years Badge](https://badges.pufler.dev/years/dylanlangston)
</div>
