<!-- 
Version {{build_version}}
Built {{build_time}} 
-->

<a href="./src/templates/{{imageTemplate}}" title="Click to View Source">
  <div align="center">
    <object data="{{image}}" alt="{{imageAlt}}" width="100%">
      <img src="{{image}}" alt="{{imageAlt}}" width="100%">
    </object>
  </div>
</a>
