<!-- 
Version {{build_version}}
Built {{build_time}} 
-->

<h1 align="center">
  <a href="{{imageLink}}" title="Click to View Source">
    <picture width="100%" alt="{{imageAlt}}">
      <source media="(prefers-color-scheme: dark)" srcset="{{imageDark}}">
      <img src="{{image}}" alt="{{imageAlt}}">
    </picture>
  </a>
</h1>
<br><br>
<div align="center">
  <picture width="100%" alt="{{statsImageAlt}}">
    <source media="(prefers-color-scheme: dark)" srcset="{{statsImageDark}}">
    <img src="{{statsImage}}" alt="{{statsImageAlt}}">
  </picture>
</div>
